form.login_form {
 border: 1px solid #2e4a8d;
 border-radius: 1em;
 padding-left: 1em;
 padding-right: 1em;
 width:50%;
 margin:auto;
 background:rgba(165,198,231,0.25);
 
}

.ShopperData {
	display: none;
	border: 1px solid black;
	float: left;
	clear:both;
	padding:1em;
}
.RevealShopper {
	clear:both;
	float:left;
}